h1 {
  font-size: 36px;
  color: white;
  font-weight: 500;
  margin: 10px 0 20px;
}

.hero-small {
  font-size: 12px;
  font-weight: 300;
}
.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}
